<IfModule mod_rewrite.c>
	RewriteEngine On

	# Co už je v public, dál nepřepisovat
	RewriteRule ^public/ - [L]

	# Všechny požadavky interně pošli do public
	RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
